USE [master]
GO
/****** Objeto: Database [PlanMejoramientoSENA] Fecha de script: 12/06/2026 11:00:02 a. m. ******/
CREATE DATABASE [PlanMejoramientoSENA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlanMejoramientoSENA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\PlanMejoramientoSENA.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlanMejoramientoSENA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\PlanMejoramientoSENA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlanMejoramientoSENA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlanMejoramientoSENA]
GO
/****** Objeto: Table [dbo].[AdministradorCentro] Fecha de script: 12/06/2026 11:00:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdministradorCentro](
	[IdAdministrador] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoDocumento] [int] NULL,
	[NumeroDocumento] [varchar](20) NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Correo] [varchar](150) NULL,
	[Telefono] [varchar](20) NULL,
	[IdCentro] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK__Administ__2B3E34A8B53A8FD6] PRIMARY KEY CLUSTERED 
(
	[IdAdministrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Administ__5B65BF9667639B79] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Administ__A42025884CD5B17B] UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Aprendiz] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aprendiz](
	[IdAprendiz] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoDocumento] [int] NULL,
	[NumeroDocumento] [varchar](20) NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Correo] [varchar](150) NULL,
	[Telefono] [varchar](20) NULL,
	[IdEstadoAprendiz] [int] NOT NULL,
	[IdUsuario] [int] NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK__Aprendiz__6C6328DDBB92BA67] PRIMARY KEY CLUSTERED 
(
	[IdAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Aprendiz__5B65BF9662AB75B7] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Aprendiz__A420258847F838B6] UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[AprendizFicha] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AprendizFicha](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAprendiz] [int] NOT NULL,
	[IdFicha] [int] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[FechaRetiro] [date] NULL,
	[Estado] [bit] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CentroFormacion] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentroFormacion](
	[IdCentro] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NULL,
	[Ciudad] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](20) NULL,
	[Estado] [bit] NULL,
	[IdRegional] [int] NULL,
 CONSTRAINT [PK__CentroFo__20ACC134AB83F38C] PRIMARY KEY CLUSTERED 
(
	[IdCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CentroPrograma] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentroPrograma](
	[IdCentroPrograma] [int] IDENTITY(1,1) NOT NULL,
	[IdCentro] [int] NOT NULL,
	[IdPrograma] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCentroPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Competencia] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competencia](
	[IdCompetencia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[IdPrograma] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompetencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoAprendiz] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoAprendiz](
	[IdEstadoAprendiz] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoPlan] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPlan](
	[IdEstadoPlan] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Evaluacion] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluacion](
	[IdEvaluacion] [int] IDENTITY(1,1) NOT NULL,
	[Producto] [varchar](20) NOT NULL,
	[Conocimiento] [varchar](20) NOT NULL,
	[Desempeno] [varchar](20) NOT NULL,
	[Observaciones] [varchar](max) NULL,
	[FechaEvaluacion] [datetime] NULL,
	[IdPlan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Evidencia] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidencia](
	[IdEvidencia] [int] IDENTITY(1,1) NOT NULL,
	[NombreArchivo] [varchar](250) NULL,
	[RutaArchivo] [varchar](500) NULL,
	[FechaCarga] [datetime] NULL,
	[ObservacionInstructor] [varchar](max) NULL,
	[IdPlan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ficha] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ficha](
	[IdFicha] [int] IDENTITY(1,1) NOT NULL,
	[CodigoFicha] [varchar](20) NOT NULL,
	[FechaInicio] [date] NULL,
	[FechaFinalizacion] [date] NULL,
	[IdJornada] [int] NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [varchar](30) NULL,
	[IdPrograma] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK__Ficha__882089D5DCAE684F] PRIMARY KEY CLUSTERED 
(
	[IdFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Ficha__B6C58D14988F4479] UNIQUE NONCLUSTERED 
(
	[CodigoFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Instructor] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[IdInstructor] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoDocumento] [int] NULL,
	[NumeroDocumento] [varchar](20) NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Correo] [varchar](150) NULL,
	[Telefono] [varchar](20) NULL,
	[Especialidad] [varchar](100) NULL,
	[Estado] [bit] NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK__Instruct__10850044ED9741CB] PRIMARY KEY CLUSTERED 
(
	[IdInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Instruct__5B65BF960A5A3CE0] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Instruct__A420258858F1B194] UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[InstructorFicha] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorFicha](
	[IdInstructorFicha] [int] IDENTITY(1,1) NOT NULL,
	[IdInstructor] [int] NOT NULL,
	[IdFicha] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInstructorFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Jornada] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jornada](
	[IdJornada] [int] IDENTITY(1,1) NOT NULL,
	[NombreJornada] [varchar](50) NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdJornada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreJornada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PlanMejoramiento] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanMejoramiento](
	[IdPlan] [int] IDENTITY(1,1) NOT NULL,
	[FechaAsignacion] [date] NOT NULL,
	[Actividades] [varchar](max) NULL,
	[Observaciones] [varchar](max) NULL,
	[FechaLimite] [date] NULL,
	[IdTipoPlan] [int] NOT NULL,
	[IdEstadoPlan] [int] NOT NULL,
	[IdAprendizFicha] [int] NOT NULL,
	[IdInstructor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PlanResultado] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanResultado](
	[IdPlanResultado] [int] IDENTITY(1,1) NOT NULL,
	[IdPlan] [int] NOT NULL,
	[IdResultado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPlanResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Programa] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programa](
	[IdPrograma] [int] IDENTITY(1,1) NOT NULL,
	[CodigoPrograma] [varchar](20) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Version] [varchar](20) NULL,
	[Nivel] [varchar](50) NULL,
	[Duracion] [int] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Regional] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regional](
	[IdRegional] [int] IDENTITY(1,1) NOT NULL,
	[CodigoRegional] [varchar](10) NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Departamento] [varchar](100) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRegional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoRegional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ResultadoAprendizaje] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadoAprendizaje](
	[IdResultado] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[IdCompetencia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoDocumento] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[IdTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[Sigla] [varchar](10) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Sigla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoPlan] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPlan](
	[IdTipoPlan] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipo] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 12/06/2026 11:00:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Clave] [varchar](500) NOT NULL,
	[Estado] [bit] NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aprendiz] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[AprendizFicha] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[AprendizFicha] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[CentroFormacion] ADD  CONSTRAINT [DF__CentroFor__Estad__4AB81AF0]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Evaluacion] ADD  DEFAULT (getdate()) FOR [FechaEvaluacion]
GO
ALTER TABLE [dbo].[Evidencia] ADD  DEFAULT (getdate()) FOR [FechaCarga]
GO
ALTER TABLE [dbo].[Ficha] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Instructor] ADD  CONSTRAINT [DF__Instructo__Estad__70DDC3D8]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Jornada] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Programa] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Regional] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[TipoDocumento] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[AdministradorCentro]  WITH CHECK ADD  CONSTRAINT [FK_AdminCentro] FOREIGN KEY([IdCentro])
REFERENCES [dbo].[CentroFormacion] ([IdCentro])
GO
ALTER TABLE [dbo].[AdministradorCentro] CHECK CONSTRAINT [FK_AdminCentro]
GO
ALTER TABLE [dbo].[AdministradorCentro]  WITH CHECK ADD  CONSTRAINT [FK_AdministradorCentro_TipoDocumento] FOREIGN KEY([IdTipoDocumento])
REFERENCES [dbo].[TipoDocumento] ([IdTipoDocumento])
GO
ALTER TABLE [dbo].[AdministradorCentro] CHECK CONSTRAINT [FK_AdministradorCentro_TipoDocumento]
GO
ALTER TABLE [dbo].[AdministradorCentro]  WITH CHECK ADD  CONSTRAINT [FK_AdminUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[AdministradorCentro] CHECK CONSTRAINT [FK_AdminUsuario]
GO
ALTER TABLE [dbo].[Aprendiz]  WITH CHECK ADD  CONSTRAINT [FK_Aprendiz_Estado] FOREIGN KEY([IdEstadoAprendiz])
REFERENCES [dbo].[EstadoAprendiz] ([IdEstadoAprendiz])
GO
ALTER TABLE [dbo].[Aprendiz] CHECK CONSTRAINT [FK_Aprendiz_Estado]
GO
ALTER TABLE [dbo].[Aprendiz]  WITH CHECK ADD  CONSTRAINT [FK_Aprendiz_TipoDocumento] FOREIGN KEY([IdTipoDocumento])
REFERENCES [dbo].[TipoDocumento] ([IdTipoDocumento])
GO
ALTER TABLE [dbo].[Aprendiz] CHECK CONSTRAINT [FK_Aprendiz_TipoDocumento]
GO
ALTER TABLE [dbo].[Aprendiz]  WITH CHECK ADD  CONSTRAINT [FK_Aprendiz_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Aprendiz] CHECK CONSTRAINT [FK_Aprendiz_Usuario]
GO
ALTER TABLE [dbo].[AprendizFicha]  WITH CHECK ADD  CONSTRAINT [FK_AF_Aprendiz] FOREIGN KEY([IdAprendiz])
REFERENCES [dbo].[Aprendiz] ([IdAprendiz])
GO
ALTER TABLE [dbo].[AprendizFicha] CHECK CONSTRAINT [FK_AF_Aprendiz]
GO
ALTER TABLE [dbo].[AprendizFicha]  WITH CHECK ADD  CONSTRAINT [FK_AF_Ficha] FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([IdFicha])
GO
ALTER TABLE [dbo].[AprendizFicha] CHECK CONSTRAINT [FK_AF_Ficha]
GO
ALTER TABLE [dbo].[CentroFormacion]  WITH CHECK ADD  CONSTRAINT [FK_Centro_Regional] FOREIGN KEY([IdRegional])
REFERENCES [dbo].[Regional] ([IdRegional])
GO
ALTER TABLE [dbo].[CentroFormacion] CHECK CONSTRAINT [FK_Centro_Regional]
GO
ALTER TABLE [dbo].[CentroPrograma]  WITH CHECK ADD  CONSTRAINT [FK_CentroPrograma_Centro] FOREIGN KEY([IdCentro])
REFERENCES [dbo].[CentroFormacion] ([IdCentro])
GO
ALTER TABLE [dbo].[CentroPrograma] CHECK CONSTRAINT [FK_CentroPrograma_Centro]
GO
ALTER TABLE [dbo].[CentroPrograma]  WITH CHECK ADD  CONSTRAINT [FK_CentroPrograma_Programa] FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa] ([IdPrograma])
GO
ALTER TABLE [dbo].[CentroPrograma] CHECK CONSTRAINT [FK_CentroPrograma_Programa]
GO
ALTER TABLE [dbo].[Competencia]  WITH CHECK ADD  CONSTRAINT [FK_Competencia_Programa] FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa] ([IdPrograma])
GO
ALTER TABLE [dbo].[Competencia] CHECK CONSTRAINT [FK_Competencia_Programa]
GO
ALTER TABLE [dbo].[Evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_Evaluacion_Plan] FOREIGN KEY([IdPlan])
REFERENCES [dbo].[PlanMejoramiento] ([IdPlan])
GO
ALTER TABLE [dbo].[Evaluacion] CHECK CONSTRAINT [FK_Evaluacion_Plan]
GO
ALTER TABLE [dbo].[Evidencia]  WITH CHECK ADD  CONSTRAINT [FK_Evidencia_Plan] FOREIGN KEY([IdPlan])
REFERENCES [dbo].[PlanMejoramiento] ([IdPlan])
GO
ALTER TABLE [dbo].[Evidencia] CHECK CONSTRAINT [FK_Evidencia_Plan]
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD  CONSTRAINT [FK_Ficha_Jornada] FOREIGN KEY([IdJornada])
REFERENCES [dbo].[Jornada] ([IdJornada])
GO
ALTER TABLE [dbo].[Ficha] CHECK CONSTRAINT [FK_Ficha_Jornada]
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD  CONSTRAINT [FK_Ficha_Programa] FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa] ([IdPrograma])
GO
ALTER TABLE [dbo].[Ficha] CHECK CONSTRAINT [FK_Ficha_Programa]
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_TipoDocumento] FOREIGN KEY([IdTipoDocumento])
REFERENCES [dbo].[TipoDocumento] ([IdTipoDocumento])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [FK_Instructor_TipoDocumento]
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [FK_Instructor_Usuario]
GO
ALTER TABLE [dbo].[InstructorFicha]  WITH CHECK ADD  CONSTRAINT [FK_IF_Ficha] FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([IdFicha])
GO
ALTER TABLE [dbo].[InstructorFicha] CHECK CONSTRAINT [FK_IF_Ficha]
GO
ALTER TABLE [dbo].[InstructorFicha]  WITH CHECK ADD  CONSTRAINT [FK_IF_Instructor] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[InstructorFicha] CHECK CONSTRAINT [FK_IF_Instructor]
GO
ALTER TABLE [dbo].[PlanMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_Plan_Estado] FOREIGN KEY([IdEstadoPlan])
REFERENCES [dbo].[EstadoPlan] ([IdEstadoPlan])
GO
ALTER TABLE [dbo].[PlanMejoramiento] CHECK CONSTRAINT [FK_Plan_Estado]
GO
ALTER TABLE [dbo].[PlanMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_Plan_Instructor] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[PlanMejoramiento] CHECK CONSTRAINT [FK_Plan_Instructor]
GO
ALTER TABLE [dbo].[PlanMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_Plan_Tipo] FOREIGN KEY([IdTipoPlan])
REFERENCES [dbo].[TipoPlan] ([IdTipoPlan])
GO
ALTER TABLE [dbo].[PlanMejoramiento] CHECK CONSTRAINT [FK_Plan_Tipo]
GO
ALTER TABLE [dbo].[PlanMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_PlanMejoramiento_AprendizFicha] FOREIGN KEY([IdAprendizFicha])
REFERENCES [dbo].[AprendizFicha] ([Id])
GO
ALTER TABLE [dbo].[PlanMejoramiento] CHECK CONSTRAINT [FK_PlanMejoramiento_AprendizFicha]
GO
ALTER TABLE [dbo].[PlanResultado]  WITH CHECK ADD  CONSTRAINT [FK_PlanResultado_Plan] FOREIGN KEY([IdPlan])
REFERENCES [dbo].[PlanMejoramiento] ([IdPlan])
GO
ALTER TABLE [dbo].[PlanResultado] CHECK CONSTRAINT [FK_PlanResultado_Plan]
GO
ALTER TABLE [dbo].[PlanResultado]  WITH CHECK ADD  CONSTRAINT [FK_PlanResultado_Resultado] FOREIGN KEY([IdResultado])
REFERENCES [dbo].[ResultadoAprendizaje] ([IdResultado])
GO
ALTER TABLE [dbo].[PlanResultado] CHECK CONSTRAINT [FK_PlanResultado_Resultado]
GO
ALTER TABLE [dbo].[ResultadoAprendizaje]  WITH CHECK ADD  CONSTRAINT [FK_Resultado_Competencia] FOREIGN KEY([IdCompetencia])
REFERENCES [dbo].[Competencia] ([IdCompetencia])
GO
ALTER TABLE [dbo].[ResultadoAprendizaje] CHECK CONSTRAINT [FK_Resultado_Competencia]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
USE [master]
GO
